/* For Desktop View */
@media screen and (min-width: 1024px) {
  .men-womenbg {
    flex-direction: row;
    padding: 5rem;
  }
  .top-collection-detail {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
  .footer-link-store {
    gap: 5rem;
  }
  .footer-bar {
    justify-content: space-between;
  }
  .footer-shop,
  .footer-help,
  .footer-info {
    font-size: 1rem;
  }
  .top-collection {
    font-size: 2rem;
  }
  .menu-bar-item {
    font-size: 1rem;
  }
  .home-product1 {
    width: calc(33.3% - 2rem);
  }
  .product-title {
    padding-left: 100px;
    font-size: 3rem;
  }
  .product-detail-right {
    padding-left: 70px;
  }
  .box-selection-size {
    gap: 1.5rem;
  }
  .select-size {
    padding-left: 2rem;
    padding-right: 8rem;
  }

  .checkout-form-item {
    width: calc(100% / 2 - (2rem * 2 / 2));
  }

  .checkout-container-right {
    width: calc(30% - 2rem);
  }

  .checkout-container-left {
    width: calc(70% - 2rem);
  }

  .order-info-right {
    text-align: left;
  }
  .about-slogan-row1 {
    font-size: 2.5rem;
  }

  .about-slogan-row2 {
    font-size: 4rem;
  }
  .slogan {
    width: 15rem;
  }
  .about-title {
    font-size: 4rem;
  }
  .text-story2,
  .text-story1 {
    font-size: 2.5rem;
  }
  .text-story1 {
    max-width: 60%;
  }
  .text-story2 {
    max-width: 40%;
  }

  .contact-form {
    max-width: 50%;
  }

  .login-form {
    width: 100%;
  }
  .your-cart-title {
    font-size: 4rem;
  }
  .your-cart {
    max-width: 100%;
    padding: 4rem;
  }
  .button-back-checkout {
    display: flex;
    gap: 3rem;
  }
  .add-cart {
    height: 1000px;
  }
  .addcart-title {
    font-size: 2rem;
  }
  .button-back-view-cart {
    display: flex;
    gap: 3rem;
  }
  .submission {
    height: 500px;
  }
  .mess-thank {
    font-size: 3rem;
  }

  .mess-submission {
    font-size: 3rem;
  }
  .subscribe-success {
    height: 500px;
  }
  .message-subscribe {
    font-size: 3rem;
  }
}
