/* For Tablet View */
@media screen and (max-width: 1024px) {
  .header-bar {
    flex-direction: column;
  }

  .men-womenbg {
    flex-direction: column;
    padding: 3rem;
  }
  .menu-bar {
    flex-wrap: wrap;
    text-align: center;
  }
  .menu-bar > li {
    padding: 1.25rem 0;
  }
  .product-detail {
    flex-direction: column;
    padding: 3rem;
  }

  .box-product-detail-left {
    display: flex;
    justify-content: center;
  }

  .footer-bar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .footer-right {
    display: flex;
    flex-direction: column;
  }
  .footer-right-subscribe {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .footer-link-store {
    display: flex;
    flex-direction: column;
  }
  .footer-shop,
  .footer-help,
  .footer-info {
    font-size: 1.5rem;
  }

  .checkout-form {
    flex-direction: column;
  }

  .checkout-info {
    flex-direction: column;
  }

  .checkout-form-item,
  .checkout-container-right {
    width: 100%;
  }

  .menu-icon {
    justify-content: center;
    padding: 1rem 0;
  }

  .order-info {
    flex-direction: column;
  }

  .order-info-right {
    text-align: left;
  }
}
