/* Use this file to store your useful variables */
/* This could be colors, fonts, or padding sizes! */

:root {
  
  --color-text-light: #ffffff;
  --color-text-dark: #000000;
  --color-text-gray: #514D4D;
  --color-text-footer:#E8EBE9;
  --color-text-sub:#b30f00;
  --color-icon-product: #FFA500;
  --color-link-bar:#F0F1F3;
  --color-size:#FFFBFB;
  --color-size-xxl:#E6E0E0;
  --color-button-checkout: #E1DBDB;
  --color-checkout-items:#C6F5FF;



}