/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */

@import url("./_media-query.css");

header {
  background-color: var(--color-text-light);
}

h2.season-header {
  background-color: #3d604e;
  height: 100px;
  color: var(--color-text-light);
  display: flex;
  align-items: center;
  justify-content: center;
}

img.home-banner {
  width: 100%;
}

ul.menu-bar {
  display: flex;
  width: 100%;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
}

ul.menu-bar > li {
  width: 50%;
  text-align: center;
}

div.menu-icon {
  display: flex;

  align-items: center;
  gap: 60px;
}

.menu-bar-item {
  color: var(--color-text-gray);
  font-family: "Arial";

  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}

.menu-bar-item--selected {
  font-weight: bold;
}

.header-bar {
  display: flex;
  padding: 1rem 3rem;
}

.men-womenbg {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 80px;
}
.womenbg {
  max-width: 100%;
}

.menbg {
  max-width: 100%;
}

h1.top-collection {
  color: var(--color-text-dark);
  text-align: center;
  font-family: "Arial Rounded MT Bold";

  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.top-collection-1,
.top-collection-2,
.top-collection-3 {
  max-width: 100%;
}

p.top-collection-detail {
  padding-left: 72px;
  padding-right: 72px;
  color: var(--color-text-dark);
  text-align: center;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.box {
  height: 643px;
  border: 1px solid black;
  margin: 0;
  padding: 1rem;
  border-radius: 20px;
  border: 1px solid #cdcdcd;
}
div.home-product1 {
  position: relative;
}
div.new-product-label {
  position: absolute;
  bottom: 535px;
  left: -2rem;
}
p.new-text-label {
  color: var(--color-text-light);
  text-align: center;
  font-family: Arial;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  right: 35px;
  bottom: 18px;
}

div.top-product-list {
  width: 100%;
  display: flex;

  justify-content: center;
  gap: 3rem;
  padding-bottom: 100px;
}

.top-collection-1,
.top-collection-2,
.top-collection-3 {
  max-width: 100%;
  padding-top: rem;
}

div.collection-star-icon {
  color: var(--color-icon-product);
}
ion-icon.color1 {
  color: var(--color-icon-product);
}
ion-icon.color2 {
  color: var(--color-text-gray);
}
ion-icon.color3 {
  color: var(--color-text-dark);
}

div.product-list {
  padding-bottom: 100px;
}

div.product-list-line1 {
  display: flex;
  justify-content: center;
  gap: 240px;
  padding-top: 100px;
}

div.product-list-line2 {
  display: flex;
  justify-content: center;
  gap: 240px;
  padding-top: 100px;
}

div.footer-bar {
  display: flex;
  width: 100%;
  background-color: var(--color-text-footer);
  padding: 2rem;
}

img.footer-logo {
  height: 172px;
}

p.footer-detail {
  width: 100%;
  color: var(--color-text-gray);
  font-family: "Arial";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  justify-content: left;
}

div.footer-icon {
  display: flex;

  gap: 50px;
}

div.footer-right-subscribe {
  display: flex;
  gap: 10px;
}

.button-subscribe {
  padding: 10px 20px;
  border-radius: 10px;
  color: var(--color-text-light);
  font-family: "Arial Rounded MT Bold";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: var(--color-text-sub);
  text-decoration: none;
  cursor: pointer;
}

div.footer-link-store {
  display: flex;
}

.footer-shop,
.footer-help,
.footer-info {
  display: flex;
  color: var(--color-text-dark);
  font-family: "Arial";
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}
div.footer-shop-details a {
  color: var(--color-text-gray);
  font-family: "Arial";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;

  text-decoration: none;
}

div.footer-help-details {
  color: var(--color-text-gray);
  font-family: "Arial";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}

div.footer-info-details {
  color: var(--color-text-gray);
  font-family: "Arial";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  gap: 25px;
  flex-direction: column;
}

div.footer-location,
div.footer-email,
div.footer-phone,
div.footer-fax {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;
}

p.footer-location-text,
p.footer-email-text,
p.footer-phone-text,
p.footer-fax-text {
  margin: 0;
}

.footer-subscribe {
  border-radius: 5px;
  border: 1px solid #e1dbdb;
  background-color: var(--color-text-light);
  color: var(--color-text-gray);
}

.form-input {
  border-radius: 10px;
  border: var(--color-text-gray);
  text-align: center;
  width: 240px;
  height: 40px;
}

/*product page*/
p.product-name {
  color: var(--color-text-dark);
  font-family: "Arial";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}

p.product-price {
  color: var(--color-text-dark);
  font-family: "Arial";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h1.product-title {
  color: var(--color-text-gray);
  text-align: left;
  font-family: "Arial Rounded MT Bold";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  padding-left: 100px;
}

/* product-detail */

div.product-detail-bar {
  display: flex;
  gap: 2500px;
  padding-left: 50px;
  background-color: var(--color-link-bar);
}

h3.product-link,
h3.product-detail-link {
  color: var(--color-text-gray);
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.box-product-detail-left {
  width: 380px;
  height: 500px;
  border: 1px solid black;
  margin: 0;
  border-radius: 20px;
  border: 1px solid #cdcdcd;
  padding-top: 35px;
  padding-left: 35px;
}

.product-detail {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.product-detail-right {
  padding-left: 70px;
}
.collection-product-color {
  display: flex;
}
.text-right-detail {
  display: flex;
}
.product-text-detail {
  color: var(--color-text-dark);
  font-family: "Arial";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.text-color,
.text-detail {
  color: var(--color-text-dark);
  font-family: "Arial";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.select-size {
  color: var(--color-text-sub);
  font-family: "Arial";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 30px;
  padding-right: 100px;
}
.find-size {
  color: var(--color-text-gray);
  font-family: "Arial";
  font-size: 25px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
.box-selection-size {
  display: flex;
  gap: 20px;
}

.box-small-size {
  width: 119.923px;
  height: 67px;
  background-color: var(--color-size);
  text-align: center;
  padding: 20px;
  font-family: Arial;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}
.box-large-size {
  width: 119.923px;
  height: 67px;
  background-color: var(--color-size-xxl);
  text-align: center;
  padding: 20px;
  font-family: Arial;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}

.button-add-to-cart {
  padding: 14px 40px;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: var(--color-text-sub);
  color: var(--color-text-light);
  font-family: "Arial Rounded MT Bold";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}
.button-buy-now {
  padding: 14px 40px;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: var(--color-text-sub);
  color: var(--color-text-light);
  font-family: "Arial Rounded MT Bold";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}
.product-description {
  color: var(--color-text-dark);
  font-family: Arial;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}
.text-description {
  width: 700px;
}
.button-cart {
  padding-top: 30px;
}

.quantity-product {
  color: var(--color-text-dark);
  font-family: Arial;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}

/* checkout page */
.billing,
.payment {
  color: var(--color-text-gray);
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 50px;
}
.text-name-info,
.phone-email-info {
  display: flex;
  gap: 140px;
  color: var(--color-text-gray);
  font-family: "Arial";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 50px;
}

.address-info,
.country-info,
.postal-info,
.name-card-info,
.card-info,
.expired,
.cvc-number {
  color: var(--color-text-gray);
  font-family: "Arial";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 50px;
}

.fname-text-box,
.lname-text-box,
.phone-text-box,
.email-text-box,
.card-text-box,
.name-card-text-box {
  width: 400px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #bbb6b6;
}

.expired-date-cvc {
  display: flex;
  gap: 50px;
}
.cvc-text-box,
.expired-text-box {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #bbb6b6;
  text-align: center;
}
.address-text-box,
.country-text-box,
.postal-text-box {
  width: 500px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #bbb6b6;
}

.button-shopping-purchase {
  padding: 50px;
  display: flex;
  gap: 50px;
}
.con-shopping {
  width: 211px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid var(--color-border-light);
  background-color: var(--color-button-checkout);
}

.purchase,
.button-view-cart {
  width: 116px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: var(--color-text-dark);
  color: var(--color-text-light);
}

.checkout-detail-bar {
  display: flex;
  gap: 2000px;
  padding-left: 50px;
  background-color: var(--color-link-bar);
}
.checkout-info {
  display: flex;
  gap: 400px;
  padding-left: 100px;
}
.checkout-right-side {
  display: flex;
  flex-direction: column;
}
.img-card {
  display: flex;
  gap: 30px;
  padding: 50px;
}

/* checkout success page */

.checkout-success {
  text-align: center;
  padding-top: 100px;
}
.thanks-text,
.checkout-message {
  color: var(--color-text-gray);
  font-family: "Arial";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.order-info {
  display: flex;
  gap: 450px;
  justify-content: center;
}

.order-info-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.orderID,
.orderDate {
  display: flex;
  gap: 10px;
  color: var(--color-text-gray);
  font-family: "Arial";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.IDnumber,
.date-number {
  color: #1d4aa5;
  font-family: "Arial";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.order-info-right {
  width: 120px;
  text-align: right;
}
.delivery-info {
  color: var(--color-text-gray);
  text-align: right;
  font-family: "Arial";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.items-info {
  display: flex;
  background-color: var(--color-checkout-items);
  width: 1298px;
  height: 160px;
  color: var(--color-text-gray);
  font-family: "Arial";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 auto;
  justify-content: center;
  gap: 300px;
}

.checkout-info-left > img {
  padding: 20px;
}
.checkout-info-center {
  padding-bottom: 30px;
}
.checkout-info-right {
  text-align: right;
}
.shipping,
.total {
  display: flex;
  gap: 50px;
  justify-content: center;
  color: var(--color-text-dark);
  font-family: Arial;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 700px;
}

.total {
  gap: 90px;
}

.button-back {
  padding-bottom: 100px;
  margin-left: 800px;
}
.button-back-home {
  width: 211px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--color-text-sub);
  color: var(--color-text-light);
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
/* subscribe page */
.image-thanks {
  position: relative;
}

.thank-banner {
  width: 100%;
  height: 1280px;
}
.message-subscribe {
  color: var(--color-sub-thanks);
  text-align: center;
  font-family: Arial;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 200px;
  left: 1150px;
}
.sub-back-home {
  position: absolute;
  bottom: 300px;
  left: 1280px;
}

/* submission */
.submission {
  position: relative;
}
.submission-banner {
  width: 100%;
  height: 1300px;
}
.mess-thank {
  color: var(--color-submission);
  font-family: "Aref Ruqaa";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
.mess-submission {
  color: var(--color-submission);
  text-align: center;
  font-family: "Arial";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 50px;
}

.message-submission-page {
  position: absolute;
  top: 400px;
  left: 1100px;
}

.submission-button-back-home {
  position: absolute;
  bottom: 460px;
  right: 1380px;
}

/* add to cart */
.add-cart {
  position: relative;
}

.cart-banner {
  width: 100%;
  height: 1200px;
}
.button-back-view-cart {
  display: flex;
  gap: 50px;
  font-family: "Arial";
  position: absolute;
  top: 800px;
  left: 1150px;
  transform: rotate(4deg);
}
.button-view-cart {
  width: 116px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: var(--color-text-dark);
  color: var(--color-text-light);
  cursor: pointer;
}

/* your cart page */
.your-cart {
  position: relative;
}

.your-cart-banner {
  width: 100%;
  height: 1300px;
}

.your-cart-title {
  width: 302px;
  height: 68px;
  flex-shrink: 0;
  color: #666;
  text-align: center;
  font-family: "Arial";
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  z-index: 1;
  position: absolute;
  top: 300px;
  left: 1300px;
}
table {
  position: absolute;
  top: 230px;
  left: 1100px;
  width: 777px;
  height: 280px;
  flex-shrink: 0;
  opacity: 0.8;
  background-color: #fff;
}

th {
  border-radius: 5px;
  border: 1px solid #c6c3c3;
}
td {
  border: 1px solid #c6c3c3;
  text-align: center;
  border-radius: 5px;
}

.bin {
  color: var(--color-text-sub);
}

.button-back-home-white {
  width: 211px;
  height: 39px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid var(--color-border-light);
  background-color: var(--color-text-light);
  color: var(--color-text-gray);
  font-family: "Arial Rounded MT Bold";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.button-checkout {
  width: 116px;
  height: 39px;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: var(--color-text-dark);
  color: var(--color-text-light);
  font-family: "Arial Rounded MT Bold";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  cursor: pointer;
}

.button-back-checkout {
  position: absolute;
  bottom: 650px;
  left: 1300px;
  display: flex;
  gap: 50px;
}

/* about */
.about {
  position: relative;
}
.about-banner {
  width: 100%;
  height: 500px;
}

.about-slogan-row1 {
  width: 137px;
  height: 140px;
  flex-direction: column;
  flex-shrink: 0;
  color: var(--color-slogan);
  text-align: center;
  font-family: "Arial";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  top: 80px;
  left: 1000px;
}

.about-slogan-row2 {
  color: var(--color-slogan);
  text-align: center;
  font-family: "Arial Rounded MT Bold";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 200px;
  left: 950px;
}
.story-top {
  display: flex;
  gap: 400px;
}

.about-title {
  color: var(--color-text-dark);
  font-family: "Arial Rounded MT Bold";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  padding-left: 200px;
}

.text-story1 {
  width: 1300px;
  height: 574px;
  flex-shrink: 0;
  color: var(--color-text-dark);
  text-align: justify;
  font-family: "Inter";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  float: left;
  padding-left: 200px;
  padding-bottom: 300px;
}

.image-story1 {
  float: left;
}

.story-bottom {
  display: flex;
  gap: 250px;
  padding-bottom: 100px;
}
.text-story2 {
  width: 607px;
  height: 476px;
  flex-shrink: 0;
  color: var(--color-text-dark);
  text-align: justify;
  font-family: "Inter";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  padding-right: 50px;
}

.image-story2 {
  float: left;
  padding-left: 200px;
  width: 1300px;
}

/* contact page */
.contact-banner {
  width: 100%;
  height: 1100px;
}

.form-title {
  color: var(--color-text-dark);
  font-family: "Arial";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
}

.user-info,
.type-message,
.telephone-info {
  width: 220.57px;
  flex-shrink: 0;
  color: var(--color-text-gray);
  font-family: "Arial";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.username-text-box,
.telephone-text-box {
  width: 411px;
  height: 41px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #bbb6b6;
  background-color: var(--color-text-light);
}

.message-area {
  width: 411px;
  height: 148px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #bbb6b6;
  background: var(--color-text-light);
}

.submission-form,
.button-send-message {
  padding-left: 120px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.button-send {
  color: var(--color-text-light);
  font-family: "Arial";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  width: 137px;
  height: 57px;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: var(--color-button-send);
  cursor: pointer;
}

/* login page */

.login {
  position: relative;
}
.login-banner {
  width: 100%;
}
.account-form {
  position: absolute;
  top: 0px;
  left: 5px;
  background-color: #ffffff27;
  width: 1000px;
  height: 1065px;
}

.form-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
}
.login-title {
  width: 173px;
  height: 24px;
  flex-shrink: 0;
  color: var(--color-text-light);
  font-family: "Arial";
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}

.user-login,
.password-login,
.cant-login,
.reset {
  width: 180px;
  flex-shrink: 0;
  color: var(--color-text-light);
  font-family: "Arial";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.acc-text-box,
.pw-text-box {
  width: 300px;
  height: 41px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #bbb6b6;
  background-color: var(--color-text-light);
}

.button-login {
  width: 92px;
  color: var(--color-size);
  font-family: "Arial Rounded MT Bold";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  background-color: var(--color-text-dark);
  height: 39px;
  flex-shrink: 0;
  border-radius: 10px;
}

.button-login-page {
  padding-top: 30px;
}

.login {
  display: flex;
}
